@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(185, 181, 181);
    height: 100vh;
    font-family: 'Chivo', sans-serif;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav {
    padding: 50px;

}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.sidebar nav li {
    list-style: none;
    padding: 10px 0px;
    font-size: 25px;

}

.main {
    /* background-color: #c1b56a; */
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: #83e2a3; */
    height: 50vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    height: 50vh;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.hello {
    font-size: 40px;
}

.name {
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
}

.about {
    font-size: 25px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 5px 15px;
    border-radius: 20px;
    color: azure;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 5px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover {
    color: dodgerblue;
    background-color: wheat;
}

.contactform {
    font-family: 'Chivo', sans-serif;
    padding-top: 144px;
    padding: 0px 35px;
    margin: 0 88px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
}

.contactform form div {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;

}

.contactform form div {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0px 0px 0px;
    padding: 3px;
}

#emailHelp {
    font-size: 9px;
    color: red;
    margin: 0px 5px;
}

#form-check {
    flex-direction: row;
    margin-top: 30px;
}

#form-check input {
    width: 20px;
    margin-right: 12px;
}

.blogItem {
    margin: 20px;
    font-family: 'Chivo', sans-serif;
}
.blogcontainer{
    margin: 88px;
}

h1 {
    font-family: 'Chivo', sans-serif;
    margin: 23px;
}

p {
    font-family: 'Source Code Pro', monospace;
}
.intro{
    margin: 88px;
}
.intro h2 {
    font-family: 'Chivo', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skillcontainer {
    padding: 12px;
}

.skill {
    width: 263px;
    height: 4px;
    background-color: red;
    border: 2px solid black;
}

.skillitem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;

}

.hundered {
    width: 265px;
    background-color: blueviolet;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: yellow;
}

.sidebarGo {
    transform: translate(-444px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham {
    margin-top: 10px;
    margin-left: 10px;
}

.close {
    margin-left: 145px;
    margin-top: 10px;
}

@media (max-width: 1444px) {
    * {
        /* background-color: red; */
    }

    .devPic {
        display: none;
    }

    /* .sidebar{
    transform: translate(-444px, 0px);
    position: absolute;
} */
}