@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(185, 181, 181);
    width: 434px;
    height: 100vh;
    font-family: Bruno Ace SC', cursive;
}

.sidebar nav {
    padding: 50px;

}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.sidebar nav li {
    list-style: none;
    padding: 10px 0px;
    font-size: 25px;

}

.main {
    background-color: #c1b56a;
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    background-color: #83e2a3;
    height: 50vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    height: 50vh;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.hello{
font-size: 40px;
}

.name{
font-size: 35px;
font-family: 'Lobster', cursive;
}

.about{
font-size: 25px;
}

.buttons{
    margin-top: 20px;
}
.buttons button{
    padding: 5px 15px;
    border-radius: 20px;
    color: azure;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 5px;
    cursor: pointer;
}

.buttons button:hover{
    color: dodgerblue;
    background-color: wheat;
}


